.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr));
  grid-auto-rows: repeat(12, 1fr);
  grid-gap: 1px;
}

header {
  grid-column: 1/12;
  grid-row: 1/2;
}

#myTopnav {
  grid-column: 1/12;
  grid-row: 2/3;
}

section {
  grid-column: 7/12;
  grid-row: 3/4;
}

footer {
  grid-column: 1/12;
  grid-row: 10/11;
}

@media screen and (max-width: 600px) {
  body {
    background color: pink;
  }

  header {
    grid-column:
  }

    {
    grid-column: auto;
  }