/* rubrik */
h1 {
  font-size: 100px;
}

/*text */
body {
  text-align: center;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

/* rubrik */
header {
  background-color: blue;
}

/* bild i html */
nav {
  padding: 20px solid blue;
  justify-content: center;
}

/* bild i html */
section {
  padding: 20px solid blue;
  justify-content: center;
}

/* längst ner, den grå rutan */
footer {
  background-color: grey;
}

/* menybaren under rubriken */
.topnav {
  background-color: grey;
  overflow: hidden;
}

/* menybaren under rubriken */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* menybaren, hover funktion */
.topnav a:hover {
  background-color: blue;
  color: black;
}

/* menybaren, hover funktion  */
.topnav a.active {
  background-color: blue;
  color: black;
}

/* menybaren */
.topnav .icon {
  display: none;
}

/* knappen längst som tar dig högst upp på sidan */
#myBtn {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: blue;
  /* Set a background color */
  color: black;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
}

#myBtn:hover {
  background-color: grey;
  /* Färgen när den hovrar */
}

/* knappen på nyheter.html  */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* styling på knappen i nyheter.html  */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/* hoovrings funktion på knappen i nyheter.html  */
input[type=submit]:hover {
  background-color: #45a049;
}

/* container för sidan  */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
}

/* övrig styling  */
.column {
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* knappen på nyheter.html, färgen när man hovrar på den  */
.simon:hover {
  background-color: blue
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* media queries  */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}